@model Formulario_Cadastro_Pessoa.Models.Cliente

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Deletar</h1>

<h3>Tem certeza que você quer deletar esse cliente?</h3>
<div>
    <h4>Cliente</h4>
    <hr />

    <!-- Informações do Cliente -->
    <div class="container">
        <h5>Informações Pessoais:</h5>
        <div class="row">
            <div class="col-sm-4">
                <div class="info-box">
                    <strong>Nome completo:</strong>
                    <p>@Html.DisplayFor(model => model.NomeCompleto)</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="info-box">
                    <strong>Nome da Mãe:</strong>
                    <p>@Html.DisplayFor(model => model.NomeMae)</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="info-box">
                    <strong>Nome do Pai:</strong>
                    <p>@Html.DisplayFor(model => model.NomePai)</p>
                </div>
            </div>
        </div>

        <h5>Documentos:</h5>
        <div class="row">
            <div class="col-sm-4">
                <div class="info-box">
                    <strong>RG:</strong>
                    <p>@Html.DisplayFor(model => model.RG)</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="info-box">
                    <strong>CPF:</strong>
                    <p>@Html.DisplayFor(model => model.CPF)</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="info-box">
                    <strong>Data de Nascimento:</strong>
                    <p>@Model.DataNascimento.ToString("dd/MM/yyyy")</p> 
                </div>
            </div>
        </div>

        <h5>Endereço:</h5>
        <div class="row">
            <div class="col-sm-4">
                <div class="info-box">
                    <strong>CEP:</strong>
                    <p>@Html.DisplayFor(model => model.CEP)</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="info-box">
                    <strong>Cidade:</strong>
                    <p>@Html.DisplayFor(model => model.Cidade)</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="info-box">
                    <strong>Bairro:</strong>
                    <p>@Html.DisplayFor(model => model.Bairro)</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="info-box">
                    <strong>Logradouro:</strong>
                    <p>@Html.DisplayFor(model => model.Logradouro)</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="info-box">
                    <strong>UF:</strong>
                    <p>@Html.DisplayFor(model => model.UF)</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="info-box">
                    <strong>Complemento:</strong>
                    <p>@Html.DisplayFor(model => model.Complemento)</p>
                </div>
            </div>
        </div>

        <h5>Estado Civil:</h5>
        <div class="row">
            <div class="col-sm-4">
                <div class="info-box">
                    <strong>Estado Civil:</strong>
                    <p>@Html.DisplayFor(model => model.EstadoCivil)</p>
                </div>
            </div>
        </div>
    </div>

    <form asp-action="Delete" style="margin-bottom: 20px;">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Deletar</button> |
        <a asp-action="Index" class="btn btn-gray">Voltar para lista</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}