@model Formulario_Cadastro_Pessoa.Models.Cliente

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dados do cliente</h1>

<div class="container">
    <h4>Cliente</h4>
    <hr />

    <!-- Grupo de Nomes -->
    <h5>Informações Pessoais:</h5>
    <div class="row">
        <div class="col-sm-4">
            <div class="info-box">
                <strong>Nome completo:</strong>
                <p>@Html.DisplayFor(model => model.NomeCompleto)</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="info-box">
                <strong>Nome da Mãe:</strong>
                <p>@Html.DisplayFor(model => model.NomeMae)</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="info-box">
                <strong>Nome do Pai:</strong>
                <p>@Html.DisplayFor(model => model.NomePai)</p>
            </div>
        </div>
    </div>

    <!-- Grupo de Documentos -->
    <h5>Documentos:</h5>
    <div class="row">
        <div class="col-sm-4">
            <div class="info-box">
                <strong>RG:</strong>
                <p>@Html.DisplayFor(model => model.RG)</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="info-box">
                <strong>CPF:</strong>
                <p>@Html.DisplayFor(model => model.CPF)</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="info-box">
                <strong>Data de Nascimento:</strong>
                <p>@Model.DataNascimento.ToString("dd/MM/yyyy")</p>
            </div>
        </div>
    </div>

    <!-- Grupo de Endereço -->
    <h5>Endereço:</h5>
    <div class="row">
        <div class="col-sm-4">
            <div class="info-box">
                <strong>CEP:</strong>
                <p>@Html.DisplayFor(model => model.CEP)</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="info-box">
                <strong>Cidade:</strong>
                <p>@Html.DisplayFor(model => model.Cidade)</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="info-box">
                <strong>Bairro:</strong>
                <p>@Html.DisplayFor(model => model.Bairro)</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="info-box">
                <strong>Logradouro:</strong>
                <p>@Html.DisplayFor(model => model.Logradouro)</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="info-box">
                <strong>UF:</strong>
                <p>@Html.DisplayFor(model => model.UF)</p>
            </div>
        </div>
        
        <div class="col-sm-4">
            <div class="info-box">
                <strong>Complemento:</strong>
                <p>@Html.DisplayFor(model => model.Complemento)</p>
            </div>
        </div>
    </div>

    <!-- Grupo de Estado Civil -->
    <h5>Estado Civil:</h5>
    <div class="row">
        <div class="col-sm-4">
            <div class="info-box">
                <strong>Estado Civil:</strong>
                <p>@Html.DisplayFor(model => model.EstadoCivil)</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-light">Editar</a> |
    <a asp-action="Index" asp-route-id="@Model?.Id" class="btn btn-gray">Voltar para lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
